.DS_Store
__pycache__/
.ipynb_checkpoints/
.venv/
tmp/
outputs/
Zenodo raw files/

data/raw/*
!data/raw/.gitkeep
!data/raw/*.csv

data/interim/*
!data/interim/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/samples/*
!data/samples/.gitkeep
